.my-shadow {
//     -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
//   -o-text-overflow: clip;
//   text-overflow: clip;
  -webkit-box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.2) ;
}

.admin-shadow {
  -webkit-box-shadow: 3px 0 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 3px 0 4px 0 rgba(0,0,0,0.2) ;
}

.my-hover:hover {
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2) ;
}

.admin-sidebar {
    width: 280px;
}

@media only screen and (max-width: 768px) {
    .admin-content {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .admin-content {
        width: calc(100% - 280px);
    }
}

.dropdown-menu li {
position: relative;
}

.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

.clearfix {
    clear:both;
}

