.my-shadow {
//     -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
//   -o-text-overflow: clip;
//   text-overflow: clip;
  -webkit-box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.2) ;
}

.admin-shadow {
  -webkit-box-shadow: 3px 0 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 3px 0 4px 0 rgba(0,0,0,0.2) ;
}

.my-hover:hover {
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2) ;
}

.admin-sidebar {
    width: 280px;
}

@media only screen and (max-width: 768px) {
    .admin-content {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .admin-content {
        width: calc(100% - 280px);
    }
}

.dropdown-menu li {
position: relative;
}

.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

img.product-img {
    display: block;
    height: 100px;
    width: 100px;
  }

  .product-page {
    display: flex;
  }

  .img-display {
    flex-grow: 1;
  }

  .thumb {
    opacity: .7;
    margin: 0 .25rem .25rem 0;
    transition: opacity .25s ease-out;
  }

  .thumb:hover,
  .thumb.active {
    opacity: 1;
  }

  .zoom {
    display: inline-block;
  }

  .more-image {
    overflow-x: scroll;
  }

.clearfix {
    clear:both;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

