@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Noto+Serif+Thai:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Roboto' ,'Noto Sans Thai' ,sans-serif;
    // font-family: 'Prompt' ,sans-serif;
    font-weight: 400;
}

.en {
    font-family: 'Roboto' ,sans-serif  !important;
    font-weight: 400;
}

.tahoma,input[type=text],input[type=password],input[type=email],input[type=number],input[type=date],input[type=time] {
    font-family: Arial,Tahoma !important;
}

.text-bold {
    font-weight: 700;
}

.text-md-bold {
    font-weight: 500;
}

@for $i from 8 to 50 {
    .f-#{$i} {
        font-size: #{$i*0.06}rem !important;
    }
}
